.directory {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 250px;
  padding: 20% 1.5rem 1rem 1.5rem;
  color: var(--text);
  background-image: linear-gradient(var(--primary-800), var(--background));
  border-radius: 0 2rem 0 0;
}

.directory a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
.directory a:hover {
  color: var(--primary-500);
}
