.appLayout {
  display: flex;
  flex-direction: column;
}

.topBar {
  flex-shrink: 0;
}

.stack {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  flex-grow: 1;
}

.directory {
  width: 25%;
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}
